*{
margin:0px;
border:0px;
padding:0px;
}
body{
	background-color:#ccc;
	margin:0px;
	border:0px;
	padding:0px;
	background-image:url("/campbell/images/bg.png");
}
header{
	position:fixed;
	top:0px;
	left:0px;
	height:195px;
	width:100%;
	opacity:0.95;
	background-image:url("/campbell/images/background.png");
	float:left;
	display:block;
	overflow:none;
}
.layer{
	position:relative;
	height:195px;
	width:100%;
	background-color:#000;
	opacity:0.45;
	float:left:
	overflow:none;
}
.innerdiv {
	border: 0.3px solid #996600;
	display:block;
	position: absolute;
	height: 150px;
	width: 350px;
	top: 400px;
	left:500px;
	background-color:#CCCC99;
	border:thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;
}
.logindiv {
	border: 0.3px solid #996600;
	position: relative;
	height:auto;
	width:350px;
	top: 250px;
	left:460px;
	background-color:#CCCC99;
	border:thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;
}
.innertable {
	border:thin;
	visibility: visible;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;
}

.display {
	visibility:visible;
	background-color:#000000;
	border:thin;
	width:250px;
	height:50px;
	top:120px;
	left:20px;
	color:#990000;
	position:absolute;
	margin-top:20px;
	padding-top:20px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;

	}
.decoration{
	border:1px solid #990000;
}
.textfield {
	color:#FF0000;
	background-color:#FFFF00;
	border:thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #990000;
	border-right-color: #990000;
	border-bottom-color: #990000;
	border-left-color: #990000;
}
.smallmenu{
	position:relative;
	display:block;
	opacity:0.95;
	size:12px;
	top:250px;
	left:460px;
	height:45px;
	width:350px;
	border:1px solid #990000;
	padding:0px;
	text-align:center;
	background:#000 url("/campbell/images/smenu.png");
	}
	

	
p#welcome{
	text-align:center;
}
#icon{
	position:absolute;
	float:left;
	top:35px;
	left:35px;
	width:75px;
	height:75px;
	padding:0;
	z-index:100;
}
#icon img{
	width:125px;
	height:125px;
}
#header{
	position:absolute;
	max-width:555px;
	height:85px;
	padding:0;
	top:30px;
	left:335px;
	z-index:1002;
}
footer{
	position:relative;
	margin:0;
	padding:0;
	border:0;
	width:100%;
	top:420px;
	height:auto;
	opacity:0.95;
	float:left;
	display:block;
	overflow:auto;
	background-image:url("/campbell/images/footerbg.png");
}
.footerlayer{
	position:static;
	height:auto;
	width:100%;
	top:420px;
	display:block;
	background-color:#000;
	opacity:0.85;
	float:left;
	overflow:auto;
}
#pages ul li{
	display:block;
	float:left;
	padding:2px;
	margin:2px;
	border:0px;
	color:#fff;
}
#pages ul li a{
	text-decoration:none;
	color:#fff;
	opacity:0.95;
	font-weight:bold;
}
#pages ul li a:hover{
	text-decoration:underline;
	color:#fff;
}
#pages ul{
	list-style:none;
}
.copyright{
	color:#fff;
	text-align:center;
	opacity:0.98;
	font-weight:bold;
}
.clear{
	clear:both;
}
section{
	float:left;
	margin:0px;
	width:360px;
	height:auto;
	padding:20px;
	border:0px;
	text-align:center;
}
#social img{
	width:35px;
	height:35px;
	display:inline-block;
}